<!doctype html>
<html lang="en" ng-app="trojanpreneurapp">
    <head>
        <!-- BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


        <!-- MATERIAL DESIGN -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1" />


        <!-- CUSTOM -->
        <title>About</title>
        <link rel="stylesheet" href="css/trojanpreneur.css">
        <link rel="stylesheet" href="css/about.css">
    </head>

    <body layout="column" ng-controller="AppCtrl">

        <md-content>
            <md-toolbar id="nav" layout="row">
                <div class="md-toolbar-tools">
                    <md-button>
                        <a href="index.html">
                            <span class="nav-accent" style="margin-right: 20px;">Trojanpreneur</span>
                        </a>
                    </md-button>

                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoUsers()">
                        Entrepreneurs
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoOrgs()">
                        Organizations
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoIdeas()">
                        Ideas
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoEvents()">
                        Events
                    </md-button>

                    <span flex></span>
                    <md-button class="login" ng-click="login()">
                        <span class="nav-accent">{{loginText}}</span>
                    </md-button>
                </div>
            </md-toolbar>

    
    <div id="headerimg"><img src="images/logo2.jpg" alt="logo" id="headerimg"/></div>
    <div id="info">
    <h2>About Trojanpreneur</h2><br>
    <p>There are lots of entrepreneurship groups, initiatives, and events at USC. So Trojanpreneur is here to help you get connected to the right ones. Find ideas, connect with other entrepreneurs, and discover your passions through our site. You'll find lists of upcoming events around campus, directories of different companies, jobs, ideas, and people that might interest you.</p>
    
    </br>
    <h2>About The Founder</h2>
    <h4>Paul Orlando, Incubator Venture Partner & Adjunct Professor</h4>
    <p>Paul has worked in technology in the US and Asia in corporate roles, as a company founder and advisor to many startups. Before joining USC, Paul founded AcceleratorHK, Hong Kong's first startup accelerator, which has already seen a first portfolio exit.
       Paul recently wrote about different perspectives of entrepreneurship in his book <em><a href="https://leanpub.com/StartupSacrilege">Startup Sacrilege for the Underdog Entrepreneur</a></em>. His work has been profiled in media outlets including TechCrunch, Forbes and The Next Web. He holds a BA from Cornell University,
       an MBA from Columbia Business School, speaks Mandarin fluently and is proud of a win at the TechCrunch Disrupt Hackathon. He's taking applications for the <a href="http://startusc.com">USC Incubator</a>.
    </p>
    </div>
    
    </md-content>
        
    <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

        <!-- SCRIPTS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script src="index.js"></script>
    
</body>
</html>
