
<!doctype html>
<html lang="en" ng-app="trojanpreneurapp">
  <head>
    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


    <!-- MATERIAL DESIGN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />


    <!-- CUSTOM -->
    <title>Ideas</title>
    <link rel="stylesheet" href="css/trojanpreneur.css">
  </head>

  <body layout="column" ng-controller="events">

    <md-content>
      <md-toolbar id="nav" layout="row">
        <div class="md-toolbar-tools">
          <md-button>
            <a href="index.html">
              <span class="nav-accent" style="margin-right: 20px;">Trojanpreneur</span>
            </a>
          </md-button>

          <md-button hide show-gt-md class=" nav-items" ng-click="gotoUsers()">
            Entrepreneurs
          </md-button>
          <span hide show-gt-md>|</span>
          <md-button hide show-gt-md class=" nav-items" ng-click="gotoOrgs()">
            Organizations
          </md-button>
          <span hide show-gt-md>|</span>
          <md-button hide show-gt-md class=" nav-items" ng-click="gotoIdeas()">
            Ideas
          </md-button>
          <span hide show-gt-md>|</span>
          <md-button hide show-gt-md class=" nav-items" ng-click="gotoEvents()">
            Events
          </md-button>

          <span flex></span>
          <md-button class="login" ng-click="login()">
            <span class="nav-accent">{{loginText}}</span>
          </md-button>
        </div>
      </md-toolbar>


      <script>
function passWord() {

  String.prototype.hashCode = function() {
    var hash = 0, i, chr, len;
    if (this.length == 0) return hash;
    for (i = 0, len = this.length; i < len; i++) {
      chr   = this.charCodeAt(i);
      hash  = ((hash << 5) - hash) + chr;
      hash |= 0; // Convert to 32bit integer
    }
    return hash;
  };


  var testV = 1;
  var pass1 = prompt('Please Enter Your Password',' ');
  while (testV < 3) {

    console.log((pass1.toLowerCase() + "success").hashCode());
    console.log((pass1.toLowerCase()).hashCode());

    if ((pass1.toLowerCase() + "success").hashCode() === 1687346362) {
      alert('You Got it Right!');
      window.location.href = 'admin' + pass1.toLowerCase().hashCode() + '.html';
      break;
    }else{
      testV+=1;
      var pass1 =
          prompt('Access Denied - Password Incorrect, Please Try Again.','Password');
    }
  
  window.location.href = 'index.html';
  }
}
      </script>
      
      <div class="spacer"></div>
      
      <h2>Admin Login Portal</h2>
      
      <button onclick="passWord()" class="btn">Login</button>


    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

    <!-- SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="index.js"></script>

  </body>
</html>