<!doctype html>
<html lang="en" ng-app="trojanpreneurapp">
    <head>
        <!-- BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


        <!-- MATERIAL DESIGN -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1" />


        <!-- CUSTOM -->
        <title>Organizations</title>
        <link rel="stylesheet" href="css/trojanpreneur.css">
    </head>

    <body layout="column" ng-controller="orgs">

        <md-content>
            <md-toolbar id="nav" layout="row">
                <div class="md-toolbar-tools">
                    <md-button>
                        <a href="index.html">
                            <span class="nav-accent" style="margin-right: 20px;">Trojanpreneur</span>
                        </a>
                    </md-button>

                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoUsers()">
                        Entrepreneurs
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoOrgs()">
                        Organizations
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoIdeas()">
                        Ideas
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoEvents()">
                        Events
                    </md-button>

                    <span flex></span>
                    <md-button class="login" ng-click="login()">
                        <span class="nav-accent">{{loginText}}</span>
                    </md-button>
                </div>
            </md-toolbar>

            <div class="spacer"></div>

            <div id="search"> 
                <h2>Organization Directory</h2>

                <md-input-container style="width:300px; margin:auto;">
                    <label>Search Organizations</label>
                    <input ng-model="name">
                </md-input-container>

                <div class="cards">
                    <md-card ng-repeat="x in orgs | filter:name" id="orgs" style="margin-bottom:10px;">
                        <img src="https://pbs.twimg.com/profile_images/1664939806/Lassiter_Trojan_Logo.jpg" alt="Event 1" id="eventimg" style="height:70px; width: 70px; margin: auto"/>
                        <h2 class="md-title">{{x.name}}</h2>
                      <p>{{x.description}}</p>
                    </md-card>
                </div>

            </div>


        </md-content>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

        <!-- SCRIPTS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script src="index.js"></script>

    </body>
</html>