<!doctype html>
<html lang="en" ng-app="trojanpreneurapp">
  <head>
    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


    <!-- MATERIAL DESIGN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />


    <!-- CUSTOM -->
    <title>Events</title>
    <link rel="stylesheet" href="css/trojanpreneur.css">
  </head>

  <body layout="column" ng-controller="events">

    <md-content>
      <md-toolbar id="nav" layout="row">
        <div class="md-toolbar-tools">
          <md-button>
            <a href="index.html">
              <span class="nav-accent" style="margin-right: 20px;">Trojanpreneur</span>
            </a>
          </md-button>

          <md-button hide show-gt-md class=" nav-items" ng-click="gotoUsers()">
            Entrepreneurs
          </md-button>
          <span hide show-gt-md>|</span>
          <md-button hide show-gt-md class=" nav-items" ng-click="gotoOrgs()">
            Organizations
          </md-button>
          <span hide show-gt-md>|</span>
          <md-button hide show-gt-md class=" nav-items" ng-click="gotoIdeas()">
            Ideas
          </md-button>
          <span hide show-gt-md>|</span>
          <md-button hide show-gt-md class=" nav-items" ng-click="gotoEvents()">
            Events
          </md-button>

          <span flex></span>
          <md-button class="login" ng-click="login()">
            <span class="nav-accent">{{loginText}}</span>
          </md-button>
        </div>
      </md-toolbar>

      <div class="spacer"></div>

      <div id="search"> 
        <h2>Events Calendar</h2>

        <md-input-container style="width:300px; margin:auto;">
          <label>Search Events</label>
          <input ng-model="name">
        </md-input-container>

        <md-button ng-click="addEvent()" class="md-raised md-primary directory-button">
          I know a cool event!
        </md-button>

        <div class="cards">
          <md-card ng-repeat="x in events | filter:name | orderBy:'fb.start_time'" id="events" style="margin-bottom:10px;">
            <div style="margin:10px">
              <img src="{{x.fb.picture}}" style="width:inherit" />
              <h1 class="md-title"><a href="http://facebook.com/{{x.fb.id}}">{{x.fb.name}}</a></h1>
              <h2>{{x.fb.time}}</h2>
              <p>{{x.fb.description}}</p>
            </div>
          </md-card>
        </div>

      </div>


    </md-content>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

    <!-- SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="index.js"></script>

  </body>
</html>