<!DOCTYPE html>

<html lang="en" ng-app="trojanpreneurapp">
    <head>
        <!-- BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


        <!-- MATERIAL DESIGN -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1" />


        <!-- CUSTOM -->
        <title>Home Page</title>
        <link href="css/carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="css/trojanpreneur.css">

    </head>

    <body layout="column" ng-controller="AppCtrl">        

        <md-content>
            <md-toolbar id="nav" layout="row">
                <div class="md-toolbar-tools">
                    <md-button>
                        <a href="index.html">
                            <span class="nav-accent" style="margin-right: 20px;">Trojanpreneur</span>
                        </a>
                    </md-button>

                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoUsers()">
                        Entrepreneurs
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoOrgs()">
                        Organizations
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoIdeas()">
                        Ideas
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoEvents()">
                        Events
                    </md-button>

                    <span flex></span>
                    <md-button class="login" ng-click="login()">
                        <span class="nav-accent">{{loginText}}</span>
                    </md-button>
                </div>
            </md-toolbar>


            <!-- CAROUSEL -->
            <div hide-sm id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item">
                        <img src="images/logobanner.jpg" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <p>Welcome to USC's Startup Ecosystem Mapping Website</p>
                                <p><a class="btn-accent btn-lg" href="directory-orgs.html" role="button">See Orgs</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <img src="images/globe.jpg" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 style="text-shadow: 2px 2px black">Our Mission</h1>
                                <p style="text-shadow: 2px 2px black">Connecting innovators and ideas at USC.</p>
                                <p><a class="btn-accent btn-lg" href="about.html" role="button">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/ideas.jpg" alt="Third slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1 style="text-shadow: 2px 2px black">View Upcoming Events</h1>
                                <p style="text-shadow: 2px 2px black">Your primary resource for startup events.</p>
                                <p><a class="btn-accent btn-lg" href="directory-events.html" role="button">Events</a></p>
                                <!--                                <md-button action="directory-events.html" class="md-raised md-accent">Events</md-button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- DIRECTORIES -->
            <div id="directories" class="section">
                <h1>SEE OUR</h1>
                <md-button ng-click="gotoUsers()" class="md-raised md-primary directory-button">
                    Entrepreneurs
                </md-button>
                <md-button ng-click="gotoOrgs()" class="md-raised md-primary directory-button">
                    Organizations
                </md-button>
                <md-button ng-click="gotoIdeas()" class="md-raised md-primary directory-button">
                    Ideas
                </md-button>
                <md-button ng-click="gotoEvents()" class="md-raised md-primary directory-button">
                    Events
                </md-button>

            </div>


            <!-- TEAM -->
            <div id="team" class="section">
                <h1>WHO WE ARE</h1>
                <div layout="row" layout-align="center" layout-wrap>
                    <div flex-gt-lg class="col-lg-4 teammate">
                        <img class="img-circle" src="images/rebecca.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                        <h2>Rebecca Casey</h2>
                        <p>Rebecca is a Chemical Engineering major at USC pursuing a minor in Web Technologies and Applications. She is a hiking and travel enthusiast with a passion for web design.</p>
                    </div>

                    <div flex-gt-lg class="col-lg-4 teammate">
                        <img class="img-circle" src="images/nittai.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                        <h2>Nittai Malchin</h2>
                        <p>Nittai is a pursuing his Business Administration degree at USC and has experience in business development and project management. He is excited about bringing the community of entrepreneurs closer at USC through Trojanpreneur.</p>
                    </div>

                    <div flex-gt-lg class="col-lg-4 teammate">
                        <img class="img-circle" src="images/shane.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                        <h2>Shane Mileham</h2>
                        <p>Shane is a Computer Science major at USC with a passion for improving health and productivity through technology and elegant design.</p>
                    </div>

                    <div flex-gt-lg class="col-lg-4 teammate">
                        <img class="img-circle" src="images/brianw.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                        <h2>Brian Whitney</h2>
                        <p>Brian is a jazz saxophonist and web designer at the University of Southern California. He specializes in quality assurance and will be starting full-time employment with Accenture Consulting in Seattle later this year.</p>
                    </div>

                    <div flex-gt-lg class="col-lg-4 teammate">
                        <img class="img-circle" src="images/daniel.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                        <h2>Daniel Uhm</h2>
                        <p>Daniel is currently a junior at USC majoring in Business Administration and minoring in Web Technologies and Applications. Some of his hobbies include football, mobile gaming, and catching up on tech news.</p>
                    </div>

                    <div flex-gt-lg class="col-lg-4 teammate">
                        <img class="img-circle" src="images/brianl.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                        <h2>Brian Ly</h2>
                        <p>Brian is currently studying Economics and Web Applications and Technologies.   He is currently serving as a marketing research intern at Smartify. Some of his interests include basketball, hip-hop, and technology.</p>
                    </div>
                </div>

            </div>

            <!-- CONTACT AND ABOUT -->
            <div id="about" class="section">
                <h1>INFORMATION</h1>
                Learn about <a href="about.html">Trojanpreneur</a>
                <br>
                Contact Us at <a href="mailto:trojanpreneur@gmail.com">trojanpreneur@gmail.com</a>
                <br>
            </div>


        </md-content>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

        <!-- SCRIPTS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script src="index.js"></script>

    </body>
</html>