<md-dialog aria-label="Update Idea">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Update this Idea</md-subheader>
        <div class="dialog-content">
            <md-input-container style="width:300px; margin:auto;">
                <label>Idea Name</label>
                <input ng-model="name">
            </md-input-container>
            <md-input-container style="width:300px; margin:auto;">
                <label>Idea Description and Contact Information</label>
                <input ng-model="description">
            </md-input-container>
            <md-input-container style="width:300px; margin:auto;">
                <label>Enter the unique ID for this idea</label>
                <input ng-model="id">
            </md-input-container>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="update(name, description,id)" class="md-primary">
            Update
        </md-button>
    </div>
</md-dialog>