@charset "UTF-8";
/* CSS Document */


#headerimg {
	width: 600px;
	height: auto;
	margin: 30px auto 0px auto;
}

#info {
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 30px;
}

#trojanpreneurlogo {
	display: block;
	margin: auto;
	width: 70%;
}

h2 {
	margin-bottom: -5px;
}
