extends layout

block content
    #searchbox(class="container")
        h1 ROUTES
        br
        br
        
        h2 Event

        h4 GET events
        form(method="get" action="/events")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events
        form(method="post" action="/events")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 GET events/:eventid
        form(method="get" action="/events/1")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/update/:eventid
        form(method="post" action="/events/update/1")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/destroy/:eventid
        form(method="post" action="/events/destroy/1")
            button.btn.btn-primary(type="submit") Submit
            
        h4 GET events/:eventid/users
        form(method="get" action="/events/1/users")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/:eventid/users
        form(method="post" action="/events/1/users")
            p userid
            input.form-control(name="userid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/:eventid/users/:userid/destroy
        form(method="post" action="/events/1/users/1/destroy")
            button.btn.btn-primary(type="submit") Submit
            
        h4 GET events/:eventid/orgs
        form(method="get" action="/events/1/orgs")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/:eventid/orgs
        form(method="post" action="/events/1/orgs")
            p orgid
            input.form-control(name="orgid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/:eventid/orgs/:orgid/destroy
        form(method="post" action="/events/1/orgs/1/destroy")
            button.btn.btn-primary(type="submit") Submit
            
        h4 GET events/:eventid/urls
        form(method="get" action="/events/1/urls")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/:eventid/urls
        form(method="post" action="/events/1/urls")
            p urlid
            input.form-control(name="urlid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST events/:eventid/urls/:urlid/destroy
        form(method="post" action="/events/1/urls/1/destroy")
            button.btn.btn-primary(type="submit") Submit


        hr
        h2 Idea

        h4 GET ideas
        form(method="get" action="/ideas")
            button.btn.btn-primary(type="submit") Submit
        h4 POST ideas
        form(method="post" action="/ideas")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 GET ideas/:ideaid
        form(method="get" action="/ideas/1")
            button.btn.btn-primary(type="submit") Submit
        h4 POST ideas/update/:ideaid
        form(method="post" action="/ideas/update/1")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 POST ideas/destroy/:ideaid
        form(method="post" action="/ideas/destroy/1")
            button.btn.btn-primary(type="submit") Submit
                
        h4 GET ideas/:ideaid/users
        form(method="get" action="/ideas/1/users")
            button.btn.btn-primary(type="submit") Submit
        h4 POST ideas/:ideaid/users
        form(method="post" action="/ideas/1/users")
            p userid
            input.form-control(name="userid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST ideas/:ideaid/users/:userid/destroy
        form(method="post" action="/ideas/1/users/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 GET ideas/:ideaid/urls
        form(method="get" action="/ideas/1/urls")
            button.btn.btn-primary(type="submit") Submit
        h4 POST ideas/:ideaid/urls
        form(method="post" action="/ideas/1/urls")
            p urlid
            input.form-control(name="urlid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST ideas/:ideaid/urls/:urlid/destroy
        form(method="post" action="/ideas/1/urls/1/destroy")
            button.btn.btn-primary(type="submit") Submit
         
        h4 *GET ideas/:ideaid/users_liked
        form(method="get" action="/ideas/1/users_liked")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST ideas/:ideaid/users_liked
        form(method="post" action="/ideas/1/users_liked")
            p userid
            input.form-control(name="userid")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST ideas/:ideaid/users_liked/:userid/destroy
        form(method="post" action="/ideas/1/users_liked/1/destroy")
            button.btn.btn-primary(type="submit") Submit
            
        h4 *GET ideas/:ideaid/users_disliked
        form(method="get" action="/ideas/1/users_disliked")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST ideas/:ideaid/users_disliked
        form(method="post" action="/ideas/1/users_disliked")
            p userid
            input.form-control(name="userid")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST ideas/:ideaid/users_disliked/:userid/destroy
        form(method="post" action="/ideas/1/users_disliked/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        

        hr
        h2 User

        h4 GET users
        form(method="get" action="/users")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users
        form(method="post" action="/users")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 GET users/:userid
        form(method="get" action="/users/1")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/update/:userid
        form(method="post" action="/users/update/1")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/destroy/:userid
        form(method="post" action="/users/destroy/1")
            button.btn.btn-primary(type="submit") Submit
            
        h4 GET users/:userid/emails
        form(method="get" action="/users/1/emails")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/emails
        form(method="post" action="/users/1/emails")
            p emailid
            input.form-control(name="emailid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/emails/:emailid/destroy
        form(method="post" action="/users/1/emails/1/destroy")
            button.btn.btn-primary(type="submit") Submit
            
        h4 GET users/:userid/tags
        form(method="get" action="/users/1/tags")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/tags
        form(method="post" action="/users/1/tags")
            p tagid
            input.form-control(name="tagid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/tags/:tagid/destroy
        form(method="post" action="/users/1/tags/1/destroy")
            button.btn.btn-primary(type="submit") Submit
            
        h4 GET users/:userid/urls
        form(method="get" action="/users/1/urls")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/urls
        form(method="post" action="/users/1/urls")
            p urlid
            input.form-control(name="urlid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/urls/:urlid/destroy
        form(method="post" action="/users/1/urls/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 GET users/:userid/events
        form(method="get" action="/users/1/events")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/events
        form(method="post" action="/users/1/events")
            p eventid
            input.form-control(name="eventid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/events/:eventid/destroy
        form(method="post" action="/users/1/events/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 GET users/:userid/ideas
        form(method="get" action="/users/1/ideas")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/ideas
        form(method="post" action="/users/1/ideas")
            p ideaid
            input.form-control(name="ideaid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/ideas/:ideaid/destroy
        form(method="post" action="/users/1/ideas/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 GET users/:userid/orgs
        form(method="get" action="/users/1/orgs")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/orgs
        form(method="post" action="/users/1/orgs")
            p orgid
            input.form-control(name="orgid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST users/:userid/orgs/:orgid/destroy
        form(method="post" action="/users/1/orgs/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 *GET users/:userid/ideas_liked
        form(method="get" action="/users/1/ideas_liked")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST users/:userid/ideas_liked
        form(method="post" action="/users/1/ideas_liked")
            p ideaid
            input.form-control(name="ideaid")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST users/:userid/ideas_liked/:ideaid/destroy
        form(method="post" action="/users/1/ideas_liked/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 *GET users/:userid/ideas_disliked
        form(method="get" action="/users/1/ideas_disliked")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST users/:userid/ideas_disliked
        form(method="post" action="/users/1/ideas_disliked")
            p ideaid
            input.form-control(name="ideaid")
            button.btn.btn-primary(type="submit") Submit
        h4 *POST users/:userid/ideas_disliked/:ideaid/destroy
        form(method="post" action="/users/1/ideas_disliked/1/destroy")
            button.btn.btn-primary(type="submit") Submit

        hr
        h2 Organization (Org)

        h4 GET orgs
        form(method="get" action="/orgs")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs
        form(method="post" action="/orgs")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 GET orgs/:orgid
        form(method="get" action="/orgs/1")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/update/:orgid
        form(method="post" action="/orgs/update/1")
            p name
            input.form-control(name="name")
            p description
            input.form-control(name="description")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/destroy/:orgid
        form(method="post" action="/orgs/destroy/1")
            button.btn.btn-primary(type="submit") Submit
            
        h4 GET orgs/:orgid/emails
        form(method="get" action="/orgs/1/emails")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/emails
        form(method="post" action="/orgs/1/emails")
            p emailid
            input.form-control(name="emailid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/emails/:emailid/destroy
        form(method="post" action="/orgs/1/emails/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 GET orgs/:orgid/users
        form(method="get" action="/orgs/1/users")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/users
        form(method="post" action="/orgs/1/users")
            p userid
            input.form-control(name="userid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/users/:userid/destroy
        form(method="post" action="/orgs/1/users/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 GET orgs/:orgid/urls
        form(method="get" action="/orgs/1/urls")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/urls
        form(method="post" action="/orgs/1/urls")
            p urlid
            input.form-control(name="urlid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/urls/:urlid/destroy
        form(method="post" action="/orgs/1/urls/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        h4 GET orgs/:orgid/events
        form(method="get" action="/orgs/1/events")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/events
        form(method="post" action="/orgs/1/events")
            p eventid
            input.form-control(name="eventid")
            button.btn.btn-primary(type="submit") Submit
        h4 POST orgs/:orgid/events/:eventid/destroy
        form(method="post" action="/orgs/1/events/1/destroy")
            button.btn.btn-primary(type="submit") Submit
        
        br
        br
        br
        br
        
        h2 Note: Routes with an * are not functional.

