<md-dialog aria-label="Add Event">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Add Event</md-subheader>
        <div class="dialog-content">
            <md-input-container style="width:300px; margin:auto;">
                <label>Event Id</label><br>
                <p style="color: gray">Ex. https://www.facebook.com/events/<b style="color: #B72A2C">12345678900000</b>/</p>
                <input ng-model="eventid">
            </md-input-container>
            <md-input-container style="width:300px; margin:auto;">
                <label>Name</label><br>
                <input ng-model="name">
            </md-input-container>
            <md-input-container style="width:300px; margin:auto;">
                <label>Description</label><br>
                <input ng-model="description">
            </md-input-container>
        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="submit(eventid, name, description)" class="md-primary">
            Submit
        </md-button>
    </div>
</md-dialog>
