<md-dialog aria-label="Add Organization">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Add Organization</md-subheader>
        <div class="dialog-content">
            <md-input-container style="width:300px; margin:auto;">
                <label>Organization Name</label>
                <input ng-model="name">
            </md-input-container>
            <md-input-container style="width:300px; margin:auto;">
                <label>Organization Description and Contact Information</label>
                <input ng-model="description">
            </md-input-container>
            <md-input-container style="width:300px; margin:auto;">
                <label>ID:</label>
                <input ng-model="id">
            </md-input-container>

        </div>
    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="submit(name, description,id)" class="md-primary">
            Submit
        </md-button>
    </div>
</md-dialog>